

body {
    background-color: #1f2430;
    font-family: monospace;
    color: #e3e4db;
    
    
}

nav {
    
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 1vw;
    position: sticky ;
    top: 0vw;
    background: #1f243091;
    
    
    
    
}




#menu {
    padding: 0;
    margin-bottom: 3vw;
    list-style: none;
    display: flex;
    align-items: center;

}

#menu li{
    margin-right: 15vw;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: underline #5B8C5A;
}



img {
    margin-left: 0.5vw;
    width: 10%;
    cursor: pointer;
}

.hero{
    margin-top: -2.5vw;
    margin-left: 0.5vw;
    font-size: 1.5vw;
    
    
}


#user{
    color: #5B8C5A;
}

#path{
    color: #677DB7; 
}

p {
    font-size: 2.5vw;
}
.hero p{
    width: 100%;
    
    
}

a {
    color: #e3e4db;
    text-decoration: underline #5B8C5A;
    
    
}


#gallerie li {
    margin-top: 4.5vw;
    height: 5vw;
    font-size: 5.5vw;
    list-style: none;
    vertical-align: center;
    

    
}

#gallerie  a:hover{
    background-color: #5B8C5A;
    text-decoration: underline #e3e4db;
    color: #e3e4db;
    transition: .4s ease-in-out;
}

#contact  a:hover{
    background-color: #5B8C5A;
    text-decoration: underline #e3e4db;
    color: #e3e4db;
    transition: .4s ease-in-out;
}

#contact {
    margin-top: 8vw;
    
}

